{% extends "socialaccount/base.html" %}

{% block head_title %}Account Connections{% endblock %}

{% block content %}
    <h2 class="display-2">Account Connections</h2>

    {% if form.accounts %}
        <p>You can sign in to your account using any of the following third party accounts:</p>


        <form method="post" action="{% url 'socialaccount_connections' %}">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div id="errorMsg">{{ form.non_field_errors }}</div>
            {% endif %}

            {% for base_account in form.accounts %}
                {% with base_account.get_provider_account as account %}
                    <div class="form-check">
                        <label for="id_account_{{ base_account.id }}" class="form-check-label">
                            <input id="id_account_{{ base_account.id }}" type="radio" name="account"
                                   value="{{ base_account.id }}" class="form-check-input"/>
                            <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{ account.get_brand.name }}</span>
                            {{ account }}
                        </label>
                    </div>
                {% endwith %}
            {% endfor %}

            <div class="my-3">
                <button type="submit" class="btn btn-warning">Remove</button>
            </div>


        </form>

    {% else %}
        <p>You currently have no social network accounts connected to this account.</p>
    {% endif %}

    <h2>Add a 3rd Party Account</h2>

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
    </ul>

    {% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}