{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
    <a class="btn btn-primary btn-social btn-{{ provider.id }}"
       href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        <i class="bi bi-{{ provider.id }}"></i>
        Sign in with {{ provider.name }}
    </a>
{% endfor %}