#cards-select-table td {
    cursor: pointer;
}

#card-prints-select-table td, #card-list .card-in-collection-summary {
    cursor: pointer;
}

img.small-card {
    width: 146px;
    height: 204px;
}

.cards-list img.mana {
    width: 1rem;
}

img.svg-text {
    width: 1rem;
}

div.popover-card {
    max-width: 520px;
}

img.normal-card {
    width: 488px;
    height: 680px;
}

input.em3 {
    width: 3em;
}

.btn.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn.btn-google:focus, .btn.btn-google.focus {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn.btn-google:hover {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn.btn-google:active, .btn.btn-google.active, .open > .dropdown-toggle.btn.btn-google {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn.btn-google:active:hover, .btn.btn-google.active:hover, .open > .dropdown-toggle.btn.btn-google:hover, .btn.btn-google:active:focus, .btn.btn-google.active:focus, .open > .dropdown-toggle.btn.btn-google:focus, .btn.btn-google:active.focus, .btn.btn-google.active.focus, .open > .dropdown-toggle.btn.btn-google.focus {
    color: #fff;
    background-color: #a32b1c;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn.btn-google:active, .btn.btn-google.active, .open > .dropdown-toggle.btn.btn-google {
    background-image: none
}

.btn.btn-google.disabled:hover, .btn.btn-google[disabled]:hover, fieldset[disabled] .btn.btn-google:hover, .btn.btn-google.disabled:focus, .btn.btn-google[disabled]:focus, fieldset[disabled] .btn.btn-google:focus, .btn.btn-google.disabled.focus, .btn.btn-google[disabled].focus, fieldset[disabled] .btn.btn-google.focus {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn.btn-google .badge {
    color: #dd4b39;
    background-color: #fff
}

.btn.btn-social > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.filtered-out {
    display: none !important;
}

#card-selection.is-invalid table {
    border: 1px solid red;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.table-sm>:not(caption)>*>* {
    padding: .1rem 0.25rem;
}