{% extends 'tgc/layout.html' %}
{% load static %}
{% load tgc_filters %}

{% block title %}Add Cards{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'tgc:user_home' user_id=user.id public_key=user.userprofile.public_link_key %}">{{ user.get_full_name }}</a>
            </li>
            <li class="breadcrumb-item active">
                Add Cards
            </li>
        </ol>
    </nav>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/local-stored.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/languages.js' %}"></script>
    {# TODO move to separate file #}
    <!--suppress JSJQueryEfficiency -->

    <script type="text/javascript">
        $(function () {
            function isInteger(str) {
                if (typeof str != "string") return false // we only process strings!

                if (isNaN(str)) {
                    return false;
                }

                return parseInt(str).toString() === str;
            }

            function sortLang(a, b) {
                if (a['lang'] === 'en') {
                    return 1;
                }
                if (b['lang'] === 'en') {
                    return 1;
                }
                return a['lang'].localeCompare(b['lang']);
            }

            function addSpinner(target) {
                $('<tr class="loading-spinner"><td colspan="6" class="text-center py-5"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></td></tr>').appendTo(target);
            }

            function imageUris(card) {
                if (typeof card['image_uris'] !== 'undefined') {
                    return {
                        'small': card['image_uris']['small'],
                        'normal': card['image_uris']['normal'],
                    }
                }

                if (typeof card['card_faces'] !== 'undefined') {
                    return {
                        'small': card['card_faces'][0]['image_uris']['small'],
                        'normal': card['card_faces'][0]['image_uris']['normal'],
                    }
                } else {
                    return null;
                }
            }

            function cardTd(card, title) {
                let td = $('<td class="text-center">');

                let image_uris = imageUris(card);
                if (image_uris === null) {
                    return null;
                }

                let image_uri_small = image_uris['small'];
                let image_uri_normal = image_uris['normal'];

                // noinspection HtmlRequiredAltAttribute,RequiredAttributes
                $('<img class="small-card">')
                    .attr('src', image_uri_small)
                    .attr('data-bs-toggle', 'popover')
                    .attr('data-bs-content', '<img src="' + image_uri_normal + '" class="normal-card">')
                    .appendTo(td);
                td.data('card', card);
                let titleDiv = $('<div class="card-title">');

                if (typeof title === 'function') {
                    titleDiv.text(title());
                }
                if (typeof title === 'string') {
                    titleDiv.text(title);
                }
                td.append(titleDiv);

                return td;
            }

            function refreshCards() {
                $('.is-invalid').removeClass('is-invalid');

                $('#card-name').blur();
                let tbody = $('#cards-select-table tbody');
                tbody.empty();
                $('#card-prints-select-table tbody').empty();
                let cardsRow = $('<tr>').appendTo(tbody);
                $('.popover.popover-card').remove();

                addSpinner(tbody);

                if (!$('#card-name').val()) {
                    tbody.find('.loading-spinner').remove();
                    return;
                }

                let url = 'https://api.scryfall.com/cards/search?' + $.param({
                    'q': $('#card-name').val() + ' ' + $('#extra-filter').val() + ' include:extras not:digital',
                });

                $.get(url,
                    function (httpResponse) {
                        tbody.find('.loading-spinner').remove();
                        let counter = 0;
                        for (let card of httpResponse.data) {
                            let td = cardTd(card, () => ++counter + '. ' + card['name']);
                            if (td === null) {
                                continue;
                            }
                            td.appendTo(cardsRow);
                        }

                        if (httpResponse.data.length === 1) {
                            $('#cards-select-table td:nth(0)').click();
                        }
                    }
                ).fail(function () {
                    tbody.find('.loading-spinner').remove();
                    $('#card-name').addClass('is-invalid');
                });

            }

            $('#card-name').focus();
            $('#search-form').submit(function () {
                refreshCards();
                return false;
            });

            $('#cards-select-table').on('click', 'td', function () {
                let tbody = $('#card-prints-select-table tbody');
                tbody.empty();
                addSpinner(tbody);
                let cardPrintsRow = $('<tr>').appendTo(tbody);

                let td = $(this);
                td.parents('tr').find('td').removeClass('table-success');
                td.addClass('table-success');
                let card = td.data('card');
                // TODO rewrite constructing own URL, excluding stuff like digital, correct sorting etc


                // "https://api.scryfall.com/cards/search?order=released&q=oracleid%3Ab34bb2dc-c1af-4d77-b0b3-a0fb342a5fc6&unique=prints"
                let url = 'https://api.scryfall.com/cards/search?' + $.param({
                    'q': 'oracleid=' + card['oracle_id'] + ' ' + $('#extra-filter').val() + ' include:extras not:digital',
                    'order': 'released',
                    'dir': 'asc',
                    'unique': 'prints',
                });

                $.get(url,
                    function (httpResponse) {
                        tbody.find('.loading-spinner').remove();
                        let counter = 0;
                        for (let card of httpResponse.data) {
                            let td = cardTd(card, () => ++counter + '. ' + card['set_name']);
                            if (td === null) {
                                continue;
                            }
                            td.appendTo(cardPrintsRow);
                        }
                    }
                ).fail(function () {
                    tbody.find('.loading-spinner').remove();
                    $('#card-name').addClass('is-invalid');
                });
            });

            $('#card-prints-select-table').on('click', 'td', function () {
                let td = $(this);
                td.parents('tr').find('td').removeClass('table-success');
                td.addClass('table-success');
                let card = td.data('card');

                if (!card['foil']) {
                    // non-foil only
                    $('#foil').attr('disabled', true).attr('checked', false);
                } else if (!card['nonfoil']) {
                    // foil only
                    $('#foil').attr('disabled', true).attr('checked', true);
                } else {
                    $('#foil').attr('disabled', false);
                }

                $('#card-count').focus().select();

                let url = 'https://api.scryfall.com/cards/search?' + $.param({
                    'q': 'cn:' + card['collector_number'] + ' set:' + card['set'],
                    'include_multilingual': true,
                    'unique': 'prints',
                });
                $('#languages div.form-check').remove();


                let language_codes = new Set();
                let language_cards = [];

                language_cards.push(card);
                language_codes.add(card['lang']);

                $.get(url,
                    function (httpResponse) {
                        for (let card of httpResponse.data) {
                            if (language_codes.has(card['lang'])) {
                                continue;
                            }

                            language_cards.push(card);
                            language_codes.add(card['lang']);
                        }
                    }
                ).always(function () {
                    language_cards = language_cards.sort(sortLang);

                    console.log('Languages', language_cards);

                    _.forEach(language_cards, function (language_card) {
                        let language = language_card['lang'];

                        let div = $('<div>')
                            .addClass('form-check')
                            .appendTo($('#languages'));

                        let input = $('<input>')
                            .addClass('form-check-input')
                            .attr('type', 'radio')
                            .attr('name', 'language')
                            .val(language)
                            .attr('id', 'id-language-' + language)
                            .data('card', language_card)
                            .appendTo(div);

                        let label = $('<label>')
                            .addClass('form-check-label')
                            .attr('for', 'id-language-' + language)
                            .append(
                                flagElementWithText(language)
                            )
                            .appendTo(div);

                        if (language_card['printed_name']) {
                            label.append(' &mdash; ' + language_card['printed_name']);
                        }

                        if (language_card['id'] === card['id']) {
                            input.prop('checked', true);
                        }
                    });
                });
            });

            $('#languages').on('change', 'input[name=language]', function () {
                let td = $('#card-prints-select-table td.table-success');

                let newTd = cardTd($(this).data('card'), () => td.find('.card-title').text());
                if (newTd === null) {
                    return;
                }

                newTd.addClass('table-success');
                td.replaceWith(newTd);
            });

            $('#add-form').submit(function () {
                $('.is-invalid').removeClass('is-invalid');
                let td = $('#card-prints-select-table td.table-success');

                if (td.length !== 1) {
                    $('#card-selection').addClass('is-invalid');
                    return false;
                }

                if (!isInteger($('#card-count').val()) || parseInt($('#card-count').val()) < 1) {
                    $('#card-count').addClass('is-invalid');
                    return false
                }

                if (!$('#collection').val()) {
                    $('#collection').addClass('is-invalid');
                    return false;
                }

                $.ajax({
                    type: 'POST',
                    url: '{% url 'tgc:rest_add_to_collection' %}',
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'cardScryfallId': td.data('card')['id'],
                        'cardCount': $('#card-count').val(),
                        'collectionId': $('#collection').val(),
                        'note': $('#note').val(),
                        'foil': $('#foil').is(':checked'),
                    },
                    success: function () {
                        let toast = $('#toast-template').children().clone();
                        toast.appendTo($('#toast-container'));
                        toast.find('.t-count').text($('#card-count').val());
                        toast.find('.t-name').text(td.data('card')['name']);
                        toast.find('.t-collection')
                            .text($('#collection option[value=' + $('#collection').val() + ']').text());

                        new bootstrap.Toast(toast).show();
                        $('#note').val('');
                    },
                    error: function () {
                        alert('CARD WAS NOT ADDED, SERVER ERROR!');
                    },
                    dataType: 'json',
                });

                $('#card-name').focus().select();

                return false;
            });

            $(document).on('keyup', function (e) {
                if (!$(e.target).is(':input')) {
                    if (49 <= e.keyCode <= 57 || 97 <= e.keyCode <= 105) {
                        let numZeroIndexed = e.keyCode - 49;
                        if (e.keyCode >= 97) {
                            numZeroIndexed = e.keyCode - 97;
                        }
                        // going for first table
                        if ($('#cards-select-table td.table-success').length === 0) {
                            $('#cards-select-table td:nth(' + numZeroIndexed + ')').click();
                            return false;
                        }

                        // going for second table
                        if ($('#card-prints-select-table td.table-success').length === 0) {
                            $('#card-prints-select-table td:nth(' + numZeroIndexed + ')').click();
                            return false;
                        }
                    }
                }
            });

            new bootstrap.Popover(document.getElementById('card-selection'), {
                html: true,
                trigger: 'hover',
                customClass: 'popover-card',
                selector: 'img',
            })

            refreshCards();
        });
    </script>
{% endblock %}

{% block content %}
    <h2 class="display-2">Add Cards</h2>

    <div>
        <button class="btn btn-sm btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#help-block">
            Show / Hide help <i class="bi bi-info-circle"></i>
        </button>
        <ol id="help-block" class="collapse mt-3">
            <li>
                Fill in a card name to <code>Card Name / Query</code> and press <span
                    class="badge bg-dark font-monospace">ENTER</span>. Use <a href="https://scryfall.com/docs/syntax">Scryfall</a>syntax.
            </li>
            <li>
                Use <code>Extra Filter</code> field for filters that will last in between your searches (perhaps you are
                adding only cards from certain era, you can use <code>year&lt;2003</code> to filter our new cards). Uses
                same syntax as above, both fields are combined into single Scryfall query.
            </li>
            <li>
                Once some cards are found, you can use keys <span class="badge bg-dark font-monospace">1</span>, <span
                    class="badge bg-dark font-monospace">2</span>, ..., <span
                    class="badge bg-dark font-monospace">9</span>to pick first, second. This way you can search using
                (almost) only keyboard.
            </li>
            <li>
                Once you've selected card and it's print (eg. set or version), just type in the number of cards and add
                using <span class="badge bg-dark font-monospace">ENTER</span>. This should take you back to the <code>Card
                Name / Query</code> field so you can start typing in another card!
            </li>
            <li>
                You can also select a binder into which to put cards, and optional note and language. Note that
                fields<code>Extra note</code> and <code>Language</code> get reset after every card insert.
            </li>
        </ol>
    </div>

    <form id="search-form">
        <div class="row my-2">
            <div class="col">
                <label for="card-name">Card Name / Query</label>
                {# TODO card name #}
                <input type="text" class="form-control local-stored" id="card-name" placeholder="Card Name / Query">
                <div class="invalid-feedback">
                    No cards found.
                </div>
            </div>
            <div class="col">
                <label for="extra-filter">Extra filter</label>
                <input type="text" class="form-control local-stored" id="extra-filter" placeholder="Extra filter"
                       value="prefer:oldest">
            </div>
        </div>
        <button type="submit" class="d-none"></button>
    </form>

    <div>
        <div id="card-selection">
            <div class="table-responsive">
                <table class="table" id="cards-select-table">
                    <tbody>
                    <tr>
                        <td colspan="6" class="text-center py-5">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table" id="card-prints-select-table">
                    <tbody>
                    <tr>
                        <td colspan="6" class="text-center py-5">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="invalid-feedback">
            You must select a card to add.
        </div>
    </div>

    <form id="add-form">
        {# TODO nicer handling of CSRF https://docs.djangoproject.com/en/3.2/ref/csrf/#ajax #}
        {# TODO https://getbootstrap.com/docs/5.0/components/spinners/ #}
        {% csrf_token %}
        <div class="mb-3">
            <label for="card-count">Count</label>
            <input type="text" class="form-control local-stored" id="card-count" placeholder="Number of cards">
            <div class="invalid-feedback">
                Invalid count (must be numeric, greater than 0).
            </div>
        </div>
        <div class="mb-3">
            <label for="collection">Collection</label>
            <select class="form-select local-stored" id="collection"{% if selected_collection_id %} data-local-stored-overwrite="{{ selected_collection_id }}"{% endif %}>
                {% for collection in collections %}
                    {% ifchanged collection.type %}
                        {% if not forloop.first %}
                            </optgroup>
                        {% endif %}
                        <optgroup label="{{ collection|collection_type_plural_no_icon }}">
                    {% endifchanged %}

                <option value="{{ collection.id }}">{{ collection.name }}</option>

                {% if forloop.last %}
                    </optgroup>
                {% endif %}
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                You must select a deck / binder.
            </div>
        </div>
        <div class="mb-3 form-check form-switch">
            <input class="form-check-input" type="checkbox" id="foil">
            <label class="form-check-label" for="foil">Foil?</label>
        </div>
        <div class="mb-3">
            <label for="note">Extra note</label>
            <input type="text" class="form-control" id="note" placeholder="(Optional)">
        </div>
        <div class="mb-3" id="languages">
            <label>Language</label>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Add card to collection</button>
        </div>
    </form>

    <div class="toast-container position-fixed top-0 end-0 p-3" id="toast-container">
    </div>

    <div id="toast-template" class="d-none">
        <div class="toast bg-light border border-dark hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bxg-success">
                <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#00b74a"></rect></svg>
                <strong class="me-auto">Card added</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <span class="t-count"></span>x <span class="t-name"></span> was added to <span
                    class="t-collection"></span>.
            </div>
        </div>
    </div>

{% endblock %}