{% extends 'tgc/layout.html' %}
{% load static %}
{% load tgc_filters %}

{% block title %}
    {% if collection %}
        {{ collection.name }}
    {% else %}
        {% if is_owner %}
            My
        {% else %}
            {{ owner.get_full_name }}'s
        {% endif %}
        Cards
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'tgc:user_home' user_id=owner.id public_key=owner.userprofile.public_link_key %}">{{ owner.get_full_name }}</a>
            </li>
            {% if collection %}
                <li class="breadcrumb-item">
                    <a href="{% url 'tgc:user_collections' user_id=owner.id public_key=owner.userprofile.public_link_key %}">
                        Binders &amp; Decks</a>
                </li>
                <li class="breadcrumb-item active">{{ collection.name }}</li>
            {% else %}
                <li class="breadcrumb-item active">
                    All Cards
                </li>
            {% endif %}
        </ol>
    </nav>
{% endblock %}

{% block javascript %}
    {% comment %}TODO externalize{% endcomment %}
    <script type="text/javascript" src="{% static 'js/symbols.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/local-stored.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/languages.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bindWithDelay.js' %}"></script>
    <!--suppress HtmlRequiredAltAttribute, RequiredAttributes -->
    <script type="text/javascript">
        $(function () {
            function slugify(text) {
                return text.trim().toLowerCase()
                    .replace(/\s+/g, "-")
                    .replace(/[^a-z0-9]/g, "-")
                    .replace(/-{2,}/g, "-");
            }

            function filterCards() {
                $('#card-list tr').removeClass('filtered-out');

                let text = slugify($('#filter-text').val());
                let filteredOutCardIds = new Set();
                if (text) {
                    $('#card-list tr.card-in-collection-summary').each(function () {
                        if ($(this).data('search-slug').indexOf(text) === -1) {
                            $(this).addClass('filtered-out');
                            filteredOutCardIds.add($(this).data('card-id'));
                        }
                    });

                    $('#card-list tr.card-in-collection-detail').each(function () {
                        if (filteredOutCardIds.has($(this).data('card-id'))) {
                            $(this).addClass('filtered-out');
                        }
                    });
                }
            }

            function processGroup(tbody, group) {
                let tr = $('<tr class="card-in-collection-summary">').appendTo(tbody);
                let card = group[0]['card'];
                tr.data('card-id', card['id']);
                tr.data('search-slug', slugify(card['name']) + ' ' + slugify(card['type']));

                group = _.sortBy(group, ['card_print.released_at', 'collection.id']);

                let totalCount = _.sumBy(group, 'count');
                let foilCount = _.sumBy(_.filter(group, ['foil', true]), 'count');
                let countTd = $('<td>')
                    .addClass('text-nowrap')
                    .text(totalCount + 'x')
                    .appendTo(tr);
                if (foilCount > 0) {
                    countTd.append(' (' + foilCount + 'x <i class="bi bi-star-fill text-warning" title="Foil"></i>)');
                }
                $('<td>').text(card['name']).appendTo(tr);
                $('<td>').addClass('text-muted').text(card['type']).appendTo(tr);
                let powerToughness = '';
                if (card['power'] !== null && card['toughness'] !== null) {
                    powerToughness = card['power'] + '/' + card['toughness'];
                }
                $('<td>').text(powerToughness).appendTo(tr);
                symbolTranslator.costToSvg(card['mana_cost'], $('<td>').appendTo(tr));


                let setsWithCount = {};
                _.forEach(group, function (card) {
                    let setCode = card['set']['code'];
                    if (!(setCode in setsWithCount)) {
                        setsWithCount[setCode] = {
                            name: card['set']['name'],
                            code: card['set']['code'],
                            icon_svg_uri: card['set']['icon_svg_uri'],
                            count: 0,
                        };
                    }

                    setsWithCount[setCode]['count'] += card['count']
                });

                let setsTd = $('<td>');
                let counter = 0;
                _.forEach(_.values(setsWithCount), function (setWithCount) {
                    setsTd
                        .append(' ' + setWithCount['count'] + 'x ')
                        .append(
                            $('<img>')
                                .attr('src', setWithCount['icon_svg_uri'])
                                .attr('alt', setWithCount['code'])
                                .attr('title', setWithCount['name'])
                                .addClass('svg-text')
                        );

                    counter++;

                    if (counter % 5 === 0) {
                        setsTd.append($('<br>'));
                    }
                });

                setsTd.appendTo(tr);

                _.forEach(group, function (card) {
                    let cardTr = $('<tr class="card-in-collection-detail table-light">').appendTo(tbody);
                    cardTr.addClass('d-none')
                        .data('card-id', card['card']['id']);

                    let buttonTd = $('<td class="p-4">')
                        .appendTo(cardTr);

                    {% if is_owner %}
                        let buttonMove = $('<button>')
                            .addClass('btn btn-primary btn-sm mb-3')
                            .attr('type', 'button')
                            .attr('data-bs-toggle', 'modal')
                            .attr('data-bs-target', '#move-cic-modal')
                            .attr('data-cic-id', card['id'])
                            .attr('data-cic-name', card['card']['name'])
                            .attr('data-cic-count', card['count'])
                            .attr('data-cic-set', card['set']['name'])
                            .attr('data-cic-collection-id', card['collection']['id'])
                            .append('<i class="bi bi-box-arrow-in-right"></i>');

                        let buttonEdit = $('<button>')
                            .addClass('btn btn-primary btn-sm mb-3')
                            .attr('type', 'button')
                            .attr('data-bs-toggle', 'modal')
                            .attr('data-bs-target', '#edit-cic-modal')
                            .attr('data-cic-id', card['id'])
                            .attr('data-cic-name', card['card']['name'])
                            .attr('data-cic-set', card['set']['name'])
                            .attr('data-cic-count', card['count'])
                            .attr('data-cic-note', card['note'])
                            .append('<i class="bi bi-pencil"></i>');

                        let buttonDelete = $('<button>')
                            .addClass('btn btn-danger btn-sm mb-3')
                            .attr('type', 'button')
                            .attr('data-bs-toggle', 'modal')
                            .attr('data-bs-target', '#delete-cic-modal')
                            .attr('data-cic-id', card['id'])
                            .attr('data-cic-name', card['card']['name'])
                            .attr('data-cic-set', card['set']['name'])
                            .append('<i class="bi bi-x-lg"></i>');

                        $('<div>').append(buttonEdit).appendTo(buttonTd);
                        $('<div>').append(buttonMove).appendTo(buttonTd);
                        $('<div>').append(buttonDelete).appendTo(buttonTd);
                    {% endif %}

                    $('<td>')
                        .append(
                            $('<a>').attr('href', card['card_print']['scryfall_uri'])
                                .append(
                                    $('<img>')
                                        .attr('src', card['card_print']['image_uri_small'])
                                        .attr('alt', card['card']['name'])
                                        .attr('title', card['card']['name'] + ' (' + card['set']['name'] + ')')
                                        .attr('data-bs-toggle', 'popover')
                                        .attr('data-bs-content', '<img src="' + card['card_print']['image_uri_normal'] + '" class="normal-card">')
                                        .addClass('small-card')
                                )
                        )
                        .appendTo(cardTr);

                    let countP = $('<p>')
                        .addClass('h2')
                        .text(card['count'] + 'x ');

                    if (card['card_print']['lang']) {
                        countP.append(flagElementWithText(card['card_print']['lang']));
                    }

                    let typeIcon = '';
                    if (card['collection']['type'] === 'binder') {
                        typeIcon = ' <i class="bi bi-journals"></i>';
                    }
                    if (card['collection']['type'] === 'deck') {
                        typeIcon = ' <i class="bi bi-box-seam"></i>';
                    }

                    let countCollectionId = $('<td>')
                        .append(
                            $('<a>')
                                .attr('href', card['collection']['url'])
                                .append(card['collection']['name'] + typeIcon)
                        )
                        .append(countP)
                        .appendTo(cardTr);

                    if (card['card_print']['printed_name']) {
                        $('<p>')
                            .text(card['card_print']['printed_name'])
                            .appendTo(countCollectionId);
                    }

                    if (card['foil']) {
                        countP.append(' <i class="bi bi-star-fill text-warning" title="Foil"></i>');
                    }

                    $('<td>')
                        .append(card['note'])
                        .attr('colspan', 2)
                        .appendTo(cardTr);

                    $('<td>')
                        .append(
                            $('<img>')
                                .attr('src', card['set']['icon_svg_uri'])
                                .attr('alt', card['set']['code'])
                                .attr('title', card['set']['name'])
                                .addClass('svg-text')
                        )
                        .append(' ' + card['set']['name'])
                        .appendTo(cardTr);
                });
            }

            function processGroups(tbody, groups, start) {
                let stop = Math.min(start + 50, groups.length);

                for (let i = start; i < stop; ++i) {
                    processGroup(tbody, groups[i]);
                }

                let progress = Math.floor((stop / groups.length * 0.9 + 0.1) * 100);
                let progressBar = $('#progress-bar');

                progressBar.css('width', progress + '%');

                filterCards();

                if (stop < groups.length) {
                    setTimeout(function () {
                        processGroups(tbody, groups, stop);
                    }, 0);
                } else {
                    progressBar.addClass('bg-success');
                }
            }

            function processCards(cards) {

                let groupsMap = {};
                let totalCount = 0;

                for (const cic of cards) {
                    let cardId = cic['card']['id'];

                    if (!(cardId in groupsMap)) {
                        groupsMap[cardId] = [];
                    }

                    groupsMap[cardId].push(cic);

                    totalCount += cic['count']
                }

                $('#cards_count').text(totalCount + 'x total cards');

                let groups = _.values(groupsMap);
                groups = _.sortBy(groups, function (e) {
                    return e[0]['card']['name']
                });

                let tbody = $('#card-list tbody');

                console.log("Num of groups", groups.length);
                $('#progress-bar').css('width', '10%');

                processGroups(tbody, groups, 0);
            }

            $('#card-list').on('click', 'tr.card-in-collection-summary', function () {
                let cardId = $(this).data('card-id');
                $('#card-list tr.card-in-collection-detail').filter(function () {
                    return $(this).data('card-id') === cardId;
                }).toggleClass('d-none');
            });

            $('#delete-cic-modal').on('show.bs.modal', function (e) {
                let button = $(e.relatedTarget);

                $('#d-cic-id').val(button.attr('data-cic-id'));
                $('.d-card-name').text(button.attr('data-cic-name'));
                $('#d-set-name').text(button.attr('data-cic-set'));
            });

            $('#move-cic-modal').on('show.bs.modal', function (e) {
                let button = $(e.relatedTarget);


                $('#m-target-collection-id option').removeAttr('disabled');
                $('#m-target-collection-id option[value=' + button.attr('data-cic-collection-id') + ']')
                    .attr('disabled', true);

                $('#m-card-name').text(button.attr('data-cic-name'));
                $('#m-cic-id').val(button.attr('data-cic-id'));
                $('#m-set-name').text(button.attr('data-cic-set'));
                $('#m-count').val(button.attr('data-cic-count'));
            });

            $('#edit-cic-modal').on('show.bs.modal', function (e) {
                let button = $(e.relatedTarget);

                $('#e-card-name').text(button.attr('data-cic-name'));
                $('#e-cic-id').val(button.attr('data-cic-id'));
                $('#e-note').val(button.attr('data-cic-note'));
                $('#e-set-name').text(button.attr('data-cic-set'));
                $('#e-count').val(button.attr('data-cic-count'));
            });
            $('.modal').on('shown.bs.modal', function () {
                $(this).find('[autofocus]').focus();
            });

            new bootstrap.Popover(document.getElementById('card-list'), {
                html: true,
                trigger: 'hover',
                customClass: 'popover-card',
                selector: 'img',
            });

            let symbolTranslator = new SymbolTranslator();

            symbolTranslator.init(function () {
                $('#progress-bar').css('width', '1%');
                $.get(
                    '{% if collection %}{% url 'tgc:rest_get_collection_cards' user_id=owner.id public_key=owner.userprofile.public_link_key collection_id=collection.id %}{% else %}{% url 'tgc:rest_get_user_cards' user_id=owner.id public_key=owner.userprofile.public_link_key %}{% endif %}',
                    function (result) {
                        processCards(result['cards']);
                    }
                );
            });

            $('#expand-all').click(function () {
                $('.card-in-collection-detail.d-none').removeClass('d-none');
            });
            $('#collapse-all').click(function () {
                $('.card-in-collection-detail:not(.d-none)').addClass('d-none');
            });

            $('#filter-text').bindWithDelay('keyup', filterCards, 250);

            $('#clear-search').click(function () {
                $('#filter-text').val('').focus().keyup();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2 class="display-2">
        {% if collection %}
            {{ collection.name }}
        {% else %}
            {% if is_owner %}
                My
            {% else %}
                {{ owner.get_full_name }}'s
            {% endif %}
            Cards
        {% endif %}

        {% if is_owner %}
            <a href="{% spaceless %}
                {% if collection %}
                    {% url 'tgc:add_cards_to_collection' collection_id=collection.id %}
                {% else %}
                    {% url 'tgc:add_cards' %}
                {% endif %}
                    {% endspaceless %}" class="btn btn-primary mb-md-3 mb-lg-4">
                <i class="bi bi-plus-lg"></i>
            </a>
        {% endif %}
    </h2>

    <div class="my-3">
        <ul class="nav">
            <li class="nav-item px-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." id="filter-text">
                    <button class="btn btn-outline-dark xbtn-rounded" type="button" id="clear-search">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="javascript:void(0)" id="expand-all" title="Expand all">
                    <i class="bi bi-arrows-expand"></i>
                </a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="javascript:void(0)" id="collapse-all" title="Collapse all">
                    <i class="bi bi-arrows-collapse"></i>
                </a>
            </li>

            <li class="nav-item px-1">
                <a class="nav-link"
                   href="{% url 'tgc:export_cards_xlsx' user_id=owner.id public_key=owner.userprofile.public_link_key %}"
                   title="Export as XLSX">
                    <i class="bi bi-cloud-arrow-down"></i> Export xlsx
                </a>
            </li>

            <li class="nav-item px-1 ms-auto">
                <div class="py-2 px-3" id="cards_count"></div>
            </li>
        </ul>
    </div>

    <div class="progress my-2">
        <div id="progress-bar" class="progress-bar" role="progressbar"></div>
    </div>

    <table id="card-list" class="cards-list table table-sm">
        <thead>
        <tr>
            <th scope="col">Count</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">P/T</th>
            <th scope="col">Cost</th>
            <th scope="col">Set(s)</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    {% if is_owner %}
        <div class="modal fade" id="delete-cic-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete <span class="d-card-name"></span> from
                            Collection</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form method="post" action="{% url 'tgc:delete_card_in_collection' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" id="d-cic-id">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div class="modal-body">
                            <p>
                                Do you really want to remove <code><span class="d-card-name"></span>
                                (<span id="d-set-name"></span>)</code> from your collection?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Delete Card</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="move-cic-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Move cards from Binder / Deck</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form method="post" action="{% url 'tgc:move_card_to_collection' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" id="m-cic-id">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div class="modal-body">
                            <p>
                                Move <code><span id="m-card-name"></span> (<span id="m-set-name"></span>)</code>
                                from to deck / binder:
                            </p>
                            <div class="form-floating mb-3">
                                <select class="form-select local-stored" id="m-target-collection-id" name="collection-id" autofocus>
                                    {% for collection in collections %}
                                        {% ifchanged collection.type %}
                                            {% if not forloop.first %}
                                                </optgroup>
                                            {% endif %}
                                            <optgroup label="{{ collection|collection_type_plural_no_icon }}">
                                        {% endifchanged %}

                                    <option value="{{ collection.id }}">{{ collection.name }}</option>

                                    {% if forloop.last %}
                                        </optgroup>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="m-target-collection-id">Target binder / deck</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="count" id="m-count" placeholder="count"
                                       required>
                                <label for="m-count">Count</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Move</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-cic-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit card</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form method="post" action="{% url 'tgc:edit_card' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" id="e-cic-id">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div class="modal-body">
                            <p>
                                Edit <code><span id="e-card-name"></span> (<span id="e-set-name"></span>)</code>.
                            </p>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="count" id="e-count" placeholder="count"
                                       required autofocus>
                                <label for="e-count">Count</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="note" id="e-note" placeholder="note">
                                <label for="e-note">Note</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}