{% extends 'tgc/layout.html' %}
{% load static %}
{% load tgc_filters %}

{% block title %}
    {% if is_owner %}
        My
    {% else %}
        {{ owner.get_full_name }}'s
    {% endif %}
    Binders &amp; Decks
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'tgc:user_home' user_id=owner.id public_key=owner.userprofile.public_link_key %}">{{ owner.get_full_name }}</a>
            </li>
            <li class="breadcrumb-item active">Binders &amp; Decks</li>
        </ol>
    </nav>
{% endblock %}

{% block javascript %}
    {% if is_owner %}
        <script type="text/javascript" src="{% static 'js/symbols.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/local-stored.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/languages.js' %}"></script>
        <script type="text/javascript">
            $(function () {
                $('#edit-collection-modal').on('show.bs.modal', function (e) {
                    let button = $(e.relatedTarget);

                    $('#e-collection-id').val(button.attr('data-collection-id'));
                    $('#e-collection-name').val(button.attr('data-collection-name'));
                    $('#e-collection-note').val(button.attr('data-collection-note'));
                    $('#edit-collection-modal input[name=type]').prop('checked', false);
                    $('#edit-collection-modal input[name=type][value=' + button.attr('data-collection-type') + ']').prop('checked', true);
                });

                $('#delete-collection-modal').on('show.bs.modal', function (e) {
                    let button = $(e.relatedTarget);

                    $('#d-collection-id').val(button.attr('data-collection-id'));
                    $('#d-collection-name').text(button.attr('data-collection-name'));
                });
                $('.modal').on('shown.bs.modal', function () {
                    $(this).find('[autofocus]').focus();
                });

                let symbolTranslator = new SymbolTranslator();
                symbolTranslator.init();

                $('#m-cards-select-all').change(function () {
                    $('.card-checkbox').prop('checked', $(this).is(':checked'));
                });

                $('#move-cards-modal').on('show.bs.modal', function (e) {
                    let button = $(e.relatedTarget);

                    $('#m-collection-from-name').text(button.attr('data-collection-name'));
                    $('#m-target-collection-id option').removeAttr('disabled');
                    $('#m-target-collection-id option[value=' + button.attr('data-collection-id') + ']')
                        .attr('disabled', true);

                    $('#m-card-list tbody tr:not(#m-cards-list-spinner)').remove();
                    $('#m-cards-list-spinner').removeClass('d-none');
                    $('#m-cards-select-all').prop('checked', true);

                    $.get(
                        button.attr('data-cards-url'),
                        function (result) {
                            let tbody = $('#m-card-list tbody');

                            _.forEach(result['cards'], function (card) {
                                let cardTr = $('<tr>').appendTo(tbody);

                                $('<td>')
                                    .append(
                                        $('<input class="form-check-input card-checkbox" type="checkbox">')
                                            .attr('name', 'card_move_' + card['id'])
                                            .attr('checked', true)
                                    )
                                    .appendTo(cardTr);

                                let countTd = $('<td>')
                                    .append(
                                        $('<input type="text" class="form-control em3">')
                                            .attr('name', 'card_count_' + card['id'])
                                            .val(card['count'])
                                    )
                                    .appendTo(cardTr);

                                if (card['foil']) {
                                    countTd.append(' <i class="bi bi-star-fill text-warning" title="Foil"></i>');
                                }

                                countTd.appendTo(cardTr);

                                $('<td>')
                                    .append(card['card']['name'])
                                    .appendTo(cardTr);

                                $('<td>')
                                    .append(card['note'])
                                    .appendTo(cardTr);

                                let langTd = $('<td>').appendTo(cardTr);
                                if (card['card_print']['lang']) {
                                    flagElementWithText(card['card_print']['lang'], false)
                                        .appendTo(langTd);
                                }

                                let powerToughness = '';
                                if (card['card']['power'] !== null && card['card']['toughness'] !== null) {
                                    powerToughness = card['card']['power'] + '/' + card['card']['toughness'];
                                }
                                $('<td>').text(powerToughness).appendTo(cardTr);

                                symbolTranslator.costToSvg(card['card']['mana_cost'], $('<td>').appendTo(cardTr));

                                $('<td>')
                                    .append(
                                        $('<img>')
                                            .attr('src', card['set']['icon_svg_uri'])
                                            .attr('alt', card['set']['code'])
                                            .attr('title', card['set']['name'])
                                            .addClass('svg-text')
                                    )
                                    .appendTo(cardTr);
                            });

                            $('#m-cards-list-spinner').addClass('d-none');
                        }
                    );
                });

            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <h2 class="display-2">
        {% if is_owner %}
            My
        {% else %}
            {{ owner.get_full_name }}'s
        {% endif %}
        Binders &amp; Decks

        {% if is_owner %}
            <button type="button" class="btn btn-primary mb-md-3 mb-lg-4" data-bs-toggle="modal"
                    data-bs-target="#add-collection-modal">
                <i class="bi bi-plus-lg"></i>
            </button>
        {% endif %}
    </h2>

    <table id="card-list" class="cards-list table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Note</th>
            <th scope="col">Cards</th>
            {% if is_owner %}
                <th scope="col" class="text-end">Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        {% for collection, count in collections %}
            {% ifchanged collection.type %}
                <tr class="table-light text-center">
                    <th colspan="{% if is_owner %}4{% else %}3{% endif %}">{{ collection|collection_type_plural }}</th>
                </tr>
            {% endifchanged %}
            <tr>
                <td>
                    <a href="{% url 'tgc:user_collection_detail' user_id=owner.id public_key=owner.userprofile.public_link_key collection_id=collection.id %}">{{ collection.name }}</a>
                </td>
                <td>
                    {{ collection.note }}
                </td>
                <td>
                    {{ count }}x
                </td>
                {% if is_owner %}
                    <td class="text-end">
                        <button type="button"
                                title="Edit collection (name, description)"
                                class="btn btn-sm btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#edit-collection-modal"
                                data-collection-id="{{ collection.id }}"
                                data-collection-name="{{ collection.name }}"
                                data-collection-note="{{ collection.note }}"
                                data-collection-type="{{ collection.type }}">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button type="button"
                                title="Move cards from collection"
                                class="btn btn-sm btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#move-cards-modal"
                                data-collection-id="{{ collection.id }}"
                                data-cards-url="{% url 'tgc:rest_get_collection_cards' user_id=owner.id public_key=owner.userprofile.public_link_key collection_id=collection.id %}"
                                data-collection-name="{{ collection.name }}">
                            <i class="bi bi-box-arrow-in-right"></i>
                        </button>
                        <button type="button"
                                title="Remove collection"
                                class="btn btn-sm btn-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#delete-collection-modal"
                                data-collection-id="{{ collection.id }}"
                                data-collection-name="{{ collection.name }}"
                                {% if count %}disabled{% endif %}>
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_owner %}
        <div class="modal fade" id="add-collection-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add new Binder / Deck</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form method="post" class="needs-validation" action="{% url 'tgc:create_collection' %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div class="modal-body">

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="name" id="collection-name"
                                       placeholder="Name"
                                       required>
                                <label for="collection-name">Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="note" id="collection-note"
                                       placeholder="Note">
                                <label for="collection-note">Note</label>
                            </div>

                            <div class="btn-group">
                                <input type="radio" class="btn-check" name="type" id="coll-binder" value="binder" autocomplete="off" checked/>
                                <label class="btn btn-light" for="coll-binder">Binder
                                    <i class="bi bi-journals"></i></label>

                                <input type="radio" class="btn-check" name="type" id="coll-deck" value="deck" autocomplete="off"/>
                                <label class="btn btn-light" for="coll-deck">Deck <i class="bi bi-box-seam"></i></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Create Binder / Deck</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-collection-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Binder / Deck</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form method="post" class="needs-validation" action="{% url 'tgc:edit_collection' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" id="e-collection-id">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div class="modal-body">

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="name" id="e-collection-name"
                                       placeholder="Name" required autofocus>
                                <label for="e-collection-name">Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="note" id="e-collection-note"
                                       placeholder="Note">
                                <label for="e-collection-note">Note</label>
                            </div>

                            <div class="btn-group">
                                <input type="radio" class="btn-check" name="type" id="e-coll-binder" value="binder" autocomplete="off"/>
                                <label class="btn btn-light" for="e-coll-binder">Binder
                                    <i class="bi bi-journals"></i></label>

                                <input type="radio" class="btn-check" name="type" id="e-coll-deck" value="deck" autocomplete="off"/>
                                <label class="btn btn-light" for="e-coll-deck">Deck
                                    <i class="bi bi-box-seam"></i></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Edit Binder / Deck</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="delete-collection-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Binder / Deck</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form method="post" action="{% url 'tgc:delete_collection' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" id="d-collection-id">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div class="modal-body">
                            <p>
                                Do you really want to remove binder / deck <code id="d-collection-name"></code>?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Delete Binder / Deck</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="move-cards-modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Move cards from Binder / Deck</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form method="post" action="{% url 'tgc:move_cards_from_to_collection' %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div class="modal-body">
                            <p>
                                Move cards from <code id="m-collection-from-name"></code> to deck / binder:
                            </p>
                            <div class="form-floating mb-3">
                                <select class="form-select local-stored" id="m-target-collection-id" name="collection-id" autofocus>
                                    {% for collection, count in collections %}
                                        {% ifchanged collection.type %}
                                            {% if not forloop.first %}
                                                </optgroup>
                                            {% endif %}
                                            <optgroup label="{{ collection|collection_type_plural_no_icon }}">
                                        {% endifchanged %}

                                    <option value="{{ collection.id }}">{{ collection.name }}</option>

                                    {% if forloop.last %}
                                        </optgroup>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="m-target-collection-id">Target binder / deck</label>
                            </div>
                            <p>
                                Select cards you want to move:
                            </p>

                            <div class="table-responsive">
                                <table id="m-card-list" class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col">
                                            <!--suppress HtmlFormInputWithoutLabel -->
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="m-cards-select-all">
                                        </th>
                                        <th scope="col">Count</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Note</th>
                                        <th scope="col">Lang</th>
                                        <th scope="col">P/T</th>
                                        <th scope="col">Cost</th>
                                        <th scope="col">Set</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="m-cards-list-spinner">
                                        <td colspan="6" class="text-center py-5">
                                            <div class="spinner-border text-primary" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Move</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}