{% extends 'tgc/layout.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h2 class="display-2">Welcome to Magic Collection</h2>

    <p>
        You can easily track collection of your MtG cards and possibly share with friends.
    </p>

    <p>
        <a href="{% url 'account_login' %}">Login / Register</a> first to start tracking.
    </p>

    <p>
        Once you register, you can add your collections (binders, decks) and cards to them.
    </p>

    <p>
        If you wish to, you can share your library with friends -- so that they know which cards you own and can borrow
        from you.
    </p>
{% endblock %}
