{% load static %}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MC | {% block title %}{% endblock %}</title>

    <link rel="icon" type="image/svg+xml" href="{% static 'image/vis.svg' %}">
    <link rel="alternate icon" href="{% static 'image/vis.svg' %}">
    <link rel="mask-icon" href="{% static 'image/vis.svg' %}" color="#ff8a01">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet"/>
    <link href="{% static 'css/tgc.css' %}" rel="stylesheet">
    <link href="{% static 'css/flag-icon.css' %}" rel="stylesheet">

</head>
<body>
<main>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'tgc:index' %}">Magic Collection</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{% url 'tgc:user_all_cards' user_id=user.id public_key=user.userprofile.public_link_key %}">
                                    All My Cards <i class="bi bi-collection"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                                   href="{% url 'tgc:user_collections' user_id=user.id public_key=user.userprofile.public_link_key %}">
                                    My Binders &amp; Decks <i class="bi bi-journals"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'tgc:user_collections' user_id=user.id public_key=user.userprofile.public_link_key %}">
                                            Manage <i class="bi bi-tools"></i>
                                        </a>
                                    </li>
                                    {% for collection in user.collection_set.all %}
                                        {% ifchanged collection.type %}
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                        {% endifchanged %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'tgc:user_collection_detail' user_id=user.id public_key=user.userprofile.public_link_key collection_id=collection.id %}">{{ collection.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tgc:add_cards' %}">
                                    Add Cards <i class="bi bi-file-plus"></i>
                                </a>
                            </li>
                        </ul>
                        <form method="post" action="{% url 'account_logout' %}" id="logout-form">
                            {% csrf_token %}
                            <span class="navbar-text">
                            <a class="nav-link" href="{% url 'account_logout' %}"
                               onclick="$('#logout-form').submit(); return false;">
                                Logout
                            </a>
                        </span>
                        </form>
                    {% else %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                        <span class="navbar-text">
                            <a class="nav-link" href="{% url 'account_login' %}">
                                Login / Signup
                            </a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% block breadcrumbs %}{% endblock %}

        {% if messages %}
            <div class="alerts mt-3">

                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">{{ message }}

                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        <footer class="pt-5 my-5 text-muted">
            Created by Savannah &copy; 2021&mdash;2022
        </footer>
    </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"
        integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k=" crossorigin="anonymous"></script>
{% block javascript %}
{% endblock %}
</body>
</html>
