{% extends 'tgc/layout.html' %}
{% load static %}
{% load tgc_filters %}

{% block title %}{{ owner.get_full_name }}{% endblock %}

{% block breadcrumbs %}
    {% comment %}TODO possibru remove?{% endcomment %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">{{ owner.get_full_name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h2 class="display-2">{{ owner.get_full_name }}</h2>

    <p>
        <a href="{% url 'tgc:user_all_cards' user_id=owner.id public_key=owner.userprofile.public_link_key %}">
            <i class="bi bi-chevron-double-right"></i> Whole collection (can take a while to load...)
        </a>
    </p>

    <h3>
        Binders &amp; Decks
    </h3>
    {% if is_owner %}
        <a href="{% url 'tgc:user_collections' user_id=owner.id public_key=owner.userprofile.public_link_key %}">
            <i class="bi bi-chevron-double-right"></i> Manage <i class="bi bi-tools"></i>
        </a>
    {% endif %}

    <table id="card-list" class="cards-list table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Note</th>
            <th scope="col">Cards</th>
        </tr>
        </thead>
        <tbody>

        {% for collection, count in collections %}
            {% ifchanged collection.type %}
                <tr class="table-light text-center">
                    <th colspan="{% if is_owner %}4{% else %}3{% endif %}">{{ collection|collection_type_plural }}</th>
                </tr>
            {% endifchanged %}
            <tr>
                <td>
                    <a href="{% url 'tgc:user_collection_detail' user_id=owner.id public_key=owner.userprofile.public_link_key collection_id=collection.id %}">{{ collection.name }}</a>
                </td>
                <td>
                    {{ collection.note }}
                </td>
                <td>
                    {{ count }}x
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}