{% extends "account/base.html" %}

{% load widget_tweaks %}

{% load account socialaccount %}

{% block head_title %}Sign In{% endblock %}

{% block inner %}

    <h2 class="display-2">Sign In</h2>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p>Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site.name }} account and sign in below:</p>

        <div class="socialaccount_ballot">

            <div class="d-grid gap-2">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </div>

            <div class="login-or my-3">or</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
        <p>If you have not created an account yet, then please<a href="{{ signup_url }}">sign up</a> first.</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        {% if form.non_field_errors %}
            <div>
                <div class="is-invalid"></div>
                <div class="invalid-feedback position-static">
                    <div>
                        {{ form.non_field_errors }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-floating mb-3">
                {% if field.errors %}
                    {{ field|add_class:'form-control is-invalid' }}
                {% else %}
                    {{ field|add_class:'form-control' }}
                {% endif %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.errors %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        {% endfor %}

        <button class="btn btn-primary" type="submit">Sign In</button>
    </form>

    <div class="mt-3">
        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </div>
{% endblock %}