{% extends "account/base.html" %}

{% load widget_tweaks %}
{% load account %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}

    <h2 class="display-2">Password Reset</h2>
    {% comment %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset
        it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        {% if form.non_field_errors %}
            <div>
                <div class="is-invalid"></div>
                <div class="invalid-feedback">
                    <div>
                        {{ form.non_field_errors }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-floating mb-3">
                {% if field.errors %}
                    {{ field|add_class:'form-control is-invalid' }}
                {% else %}
                    {{ field|add_class:'form-control' }}
                {% endif %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.errors %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        {% endfor %}

        <button class="btn btn-primary" type="submit">Reset My Password</button>
    </form>
{% endcomment %}
    <p>Email reset is not working at the moment.</p>

    <p>Please contact us if you have any trouble resetting your password.</p>
{% endblock %}