{% extends "account/base.html" %}

{% load widget_tweaks %}

{% block head_title %}Sign Up{% endblock %}

{% block inner %}
    <h2 class="display-2">Sign Up</h2>

    <p>
        Already have an account? Then please <a href="{{ login_url }}">sign in</a>
    </p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        {{ form.non_field_errors }}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-floating mb-3">
                {% if field.errors %}
                    {{ field|add_class:'form-control is-invalid' }}
                {% else %}
                    {{ field|add_class:'form-control' }}
                {% endif %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.errors %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        {% endfor %}

        <button class="btn btn-primary" type="submit">Sign Up &raquo;</button>
    </form>
{% endblock %}